<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar Example</title>
  <style>
    body {
      background-color: bisque;
      text-align: center;
    }
    h2{
      color: rgb(132, 0, 255);

    }
  </style>
</head>
<body>
  <center>

  <h2>Contacts customer care service :</h2>
  <p> If you're looking to contact customer care for assistance, it's best to reach out directly to the company or organization you need support from.</p>
  <p>   Typically, you can find contact information on their website under a "Contact Us" or "Support" section. </p>
  <p>If you provide me with the name of the company or organization you're trying to reach, I can provide more specific guidance on how to contact them.</p>
  <p>contact in custmor care number :8499895639</p>
</center>
        </body>
        </html>
