<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<style>
    body{
        background-color: lightcyan;
        text-align: center;
    }
    button{
        color: black;
        padding: 10px;
        border-radius: 300px;
    }
    
</style>
</head>

<body>
    <center>
        <h2>Application of payroll management system</h1>
        <a href="register"><button>register</button></a>
        <a href="login"><button>login</button></a>
    </center>

    
</body>
</html>